<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32050879444-ua1qbkrvthvrl94pnpr8me70hibhrtvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32050879444-ua1qbkrvthvrl94pnpr8me70hibhrtvg</string>
	<key>API_KEY</key>
	<string>AIzaSyCzVBGaX4DSCcXKY3dqPiIqhi2tOMrIo6I</string>
	<key>GCM_SENDER_ID</key>
	<string>32050879444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodplace.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-d7d5c</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-d7d5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32050879444:ios:eee4003c0ba36862c61441</string>
</dict>
</plist>